{% extends 'common/base.html' %}

{% block main_content %}
<div class="main-content">
    <div class="card-register-card">
        <h2 class="form-title">新規登録</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="nickname" placeholder="ニックネーム" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="メールアドレス" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="パスワード" required>
            </div>
            <div class="form-group">
                <input type="password" name="password_confirm" placeholder="パスワード（確認用）" required>
            </div>
            <div class="div-button-container">
                <button type="submit" class="signup-button">登録</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}