/* ====================
ダッシュボード
==================== */
main {
    padding: 16px;
    padding-top: 0;
}

h1 {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    z-index: 999;
    text-align: left;
    color: #fff;
    font-size: 24px;
    margin: 0;
    padding: 16px;
    background-color: #399ACA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.main-buttons {
    display: grid;
    gap: 24px;
    margin-top: 80px;
}

.main-buttons a {
    display: block;
    padding: 32px;
    background-color: #fff;
    color: #399ACA;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-buttons a:hover {
    background-color: #cccccc;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
}

.inline-buttons {
    display: flex;
    gap: 12px;
}

.inline-buttons a {
    flex: 1;
    display: block;
    padding: 32px;
    background-color: #fff;
    color: #399ACA;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.inline-buttons a:hover {
    background-color: #cccccc;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
}