{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ITerms</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'common/css/base.css' %}">
<link rel="stylesheet" href="{% static 'vocabulariescreate/css/vocabulariescreate.css' %}">
</head>
<body>


<header>
    <img src="{% static 'common/img/ITerm-logo.png' %}" alt="サイトロゴ">
    <a href="#" class="hamburger-menu" id="menuBtn">
        <i class="fas fa-bars" id="menuIcon"></i>
        <i class="fas fa-times" id="closeIcon" style="display:none;"></i>
    </a>
</header>

<div class="menu-modal" id="menuModal">
    <div class="menu-content">
        <a href="{% url 'accounts:profile' %}">マイページ</a>
        <a href="{% url 'accounts:logout' %}">ログアウト</a>
    </div>
</div>

<main>
    <h1>用語帳作成</h1>
    <div class="vocab-title-area">
        <label for="vocab-title" class="vocab-label">用語帳タイトル</label><br>
        <input type="text" id="vocab-title" name="vocab-title" class="vocab-title-input">
    </div>
    
    <div class="tag-select-area">
        <label for="tag-select" class="vocab-label">タグで絞り込み</label><br>
    <select id="tag-select" class="tag-select">
        <option value="all">すべて</option>
        {% for tag in tags %}
            <option value="{{ tag.name }}">{{ tag.name }}</option>
        {% endfor %}
    </select>
    </div>
    
    <form id="terms-form">
        <ul id="terms-list" class="terms-list"></ul>
        <button type="submit" id="create-btn" class="create-btn">作成完了</button>
    </form>
</main>

<footer>
    <div class="footer-nav">
        <a href="{% url 'dashboard:dashboard' %}"><i class="fas fa-home"></i></a>
        <a href="{% url 'vocabularies:myvocabularies' %}"><i class="far fa-folder"></i></a>
        <a href="{% url 'terms:createterms' %}"><i class="fas fa-plus"></i></a>
        <a href="{% url 'vocabularies:vocabulariesSearch' %}"><i class="fas fa-search"></i></a>
    </div>
</footer>

<script src="{% static 'common/js/hamuburger.js' %}"></script>
<script src="{% static 'vocabulariscreate/js/vocabulariescreate.js' %}"></script>
</body>
</html>