{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ITerms</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'common/css/base.css' %}">
<link rel="stylesheet" href="{% static 'createterms/css/createterms.css' %}">

</head>
<body>


<header>
    <img src="{% static 'common/img/ITerm-logo.png' %}" alt="サイトロゴ">
    <a href="#" class="hamburger-menu" id="menuBtn">
        <i class="fas fa-bars" id="menuIcon"></i>
        <i class="fas fa-times" id="closeIcon" style="display:none;"></i>
    </a>
</header>

<div class="menu-modal" id="menuModal">
    <div class="menu-content">
        <a href="{% url 'accounts:profile' %}">マイページ</a>
        <a href="{% url 'accounts:logout' %}">ログアウト</a>
    </div>
</div>

<main>
    <h1>用語登録</h1>
    <div id="form-list">
        <form method="post" class="term-form">
        {% csrf_token %}
            <button type="button" class="remove-form-btn" style="align-self: flex-end;">×</button>
            <div class="form-group">
                <input type="text" id="term" name="term" required placeholder="用語">
            </div>
            <div class="form-group">
                <textarea id="description" name="description" rows="3" required placeholder="説明文"></textarea>
            </div>
            <div class="form-group">
                <div class="custom-select-container">
                    <div class="selected-tags">タグを選択...</div>
                    <div class="dropdown-menu">
                        {% for tag in all_tags %}
                            <label>
                                <input type="checkbox" name="tag_ids" value="{{ tag.name }}">
                                <span>{{ tag.name }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="form-buttons">
        <button type="button" id="add-form-btn" class="add-btn">用語追加</button>
        <button 
            type="button" 
            id="submit-btn" 
            class="register-btn" 
            data-create-url="{% url 'terms:create_post' %}"
            data-list-url="{% url 'terms:list' %}">
            登録完了
        </button>
    </div>    
</main>

<footer>
    <div class="footer-nav">
        <a href="{% url 'dashboard:dashboard' %}"><i class="fas fa-home"></i></a>
        <a href="{% url 'vocabularies:myvocabularies' %}"><i class="far fa-folder"></i></a>
        <a href="{% url 'terms:createterms' %}"><i class="fas fa-plus"></i></a>
        <a href="{% url 'vocabularies:vocabulariesSearch' %}"><i class="fas fa-search"></i></a>
    </div>
</footer>

<script src="{% static 'common/js/hamuburger.js' %}"></script>
<script src="{% static 'createterms/js/createterms.js' %}"></script>
</body>
</html>