{% extends "common/base.html" %}
{% block content %}
<h1>ログイン</h1>
<form method="post">{% csrf_token %}
  <div>
    <label>ユーザー名</label>
    <input name="username" value="{{ values.username|default:'' }}">
    <div class="err">{{ errors.username }}</div>
  </div>
  <div>
    <label>パスワード</label>
    <input name="password" type="password">
    <div class="err">{{ errors.password }}</div>
  </div>
  <div class="err">{{ errors.non_field }}</div>
  <button type="submit">ログイン</button>
</form>
<p><a href="{% url 'accounts:signup' %}">サインアップ</a></p>
{% endblock %}