{% extends "common/base.html" %}
{% block content %}
<h1>パスワード変更</h1>
<form method="post">{% csrf_token %}
  <div>
    <label>現在のパスワード</label>
    <input name="old_password" type="password">
    <div class="err">{{ errors.old_password }}</div>
  </div>
  <div>
    <label>新しいパスワード</label>
    <input name="new_password" type="password">
    <div class="err">{{ errors.new_password }}</div>
  </div>
  <button type="submit">変更</button>
</form>
<p><a href="{% url 'accounts:me' %}">戻る</a></p>
{% endblock %}